* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  background-color: rbg(255, 255, 255);
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  margin-top: 0.2em;
  margin-left: 0.4em;
  padding-left: 0.2em;
  border-left: 0.4rem solid rgba(0, 0, 0, 0.6);
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.6);
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}

.container > *:not(.graph_container) {
  display: flex;
  margin: 1em;
  flex: 1 0 auto;
  flex-direction: column;
}

label {
  white-space: nowrap;
}

.container > *:nth-child(-n + 4) {
  grid-column: span 3;
}

.container > *:nth-child(n + 5):nth-child(-n + 6) {
  grid-column: span 6;
}

.container > * select,
.container > *:not(.graph_container) input {
  font-size: 0.9rem;
  padding: 0.25em;
  flex: 1 0 auto;
}

.container > * input {
  text-align: right;
}

details {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

summary {
  font-weight: 600;
  font-size: 1.2rem;
}

details[open] > summary {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

details > p {
  text-indent: 1em;
  margin-top: 0.4em;
}

.graph_container {
  grid-column: span 4;
  padding: 0 0.5rem;
}

.graph_div {
  width: 100%;
  height: 400px;
}

.selecter {
  font-size: 0.7rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.selecter > * {
  padding: 0 1rem;
}

input[type="radio"] {
  height: 0.7rem;
}

footer {
  padding: 0.2rem;
  background: #eee;
  font-size: 0.8em;
  text-align: center;
}

footer > a {
  color: gray;
  text-decoration: none;
}

#caution {
  color: red;
}

#caution:not(.able) {
  display: none;
}

@media screen and (max-width: 1024px) {
  .graph_container {
    grid-column: span 12;
  }

  .graph_div {
    width: 100%;
    height: 300px;
  }
}
